
{% extends "base.html" %}

{% block content %}
<form method = "post">
    <h2>Signup</h2>
    <table>
        <tr>
            <td> Username </td>
            <td> <input type = "text" name = "username" value = "{{j_username}}"></td>
            <td><font color = "red"> {{j_error_username}} </font></td>
        </tr>
        <tr>
            <td> Password </td>
            <td> <input type = "password" name = "password" value = "{{j_password}}"></td>
            <td><font color= "red"> {{j_error_password}} </font></td>
       </tr>
        <tr>
            <td> Verify Password </td>
            <td> <input type = "password" name = "verify" value = "{{j_vpassword}}"></td>
            <td><font color = "red"> {{j_error_vpassword}} </font></td>
       </tr>
        <tr>
            <td> Email (optional) </td>
            <td> <input type = "text" name = "email" value = "{{j_email}}"></td>
            <td> <font color = "red">{{j_error_email}}</font> </td>
       </tr>
    </table>
       <br>
       <input type = "submit" value = "Submit">

</form>
{% endblock %}

